<div style="display: flex; justify-content: center; align-items: center">
    <li style="width: 20%; height: fit-content; margin-right: 3%; list-style-type: none; margin-top: 80px;">
      <div (click)="RouteToList()" class="card bg-gradient-teal text-white shadow border-0">
        <div style="font-family: poppins; text-align: center;" class="card-body py-3">
          <img src="../../../../../assets/product_category.svg" class="rounded img-master" />
        </div>
        <a style="font-size: 16px; margin-top: -10px; text-align: center;">Products Category</a>
      </div>
    </li>
    <li style="width: 20%; height: fit-content; margin-right: 3%; list-style-type: none; margin-top: 80px;">
      <div class="card bg-gradient-cyan text-white shadow border-0">
        <div style="font-family: poppins; text-align: center;" class="card-body py-3">
          <img src="../../../../../assets/product.svg" class="rounded img-master" />
        </div>
        <a style="font-size: 16px; margin-top: -10px; text-align: center;">Products</a>
      </div>
    </li>
  </div>