:host {
    font-family: "Arial";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  

  .toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color:whitesmoke;
    color: white;
    font-weight: 600;
    vertical-align: middle;
  }

  .spacer{
    flex : 1
  }